
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Vibhanshu Garg</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/vibhanshu.jpeg' %}" >
					<hr>
					<h4>Hi I'm Vibhanshu!</h4>
					<p>I love coding and developing websites.</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Me as a Developer</h4>
					<hr>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, iste soluta alias laborum porro perspiciatis impedit quidem ipsa at, nostrum dolores expedita illum deleniti sapiente.
					</p>

					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum ad dolore hic labore sunt earum aperiam eligendi animi? Reprehenderit, consequuntur fuga! Id quo earum ipsum.</p>

					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab saepe soluta aperiam facilis rem numquam quia qui reprehenderit odit cupiditate?</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<p>Full stack developer</p>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet nobis nisi nulla maxime unde fugiat molestiae, veritatis quibusdam nam numquam.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi ipsum, distinctio totam ex commodi quae at provident quo sit tempora error laboriosam dicta exercitationem accusantium inventore eveniet similique unde temporibus?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, autem.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur velit rerum perferendis, molestiae quam alias vero architecto aperiam non, natus voluptatum dolorem aliquam eius ratione blanditiis ullam quibusdam hic temporibus.</p>

					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse numquam mollitia repudiandae praesentium ullam. Vel enim suscipit aperiam laboriosam libero!</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, voluptas? In dolores, consequuntur quaerat numquam voluptate consequatur consectetur eius eveniet.

				</p>
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid cum sed ab tempore excepturi tempora omnis, fugit totam quod numquam.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>